{% extends "bootstrap/base.html" %}
{% block title %}Blog Page{% endblock %}

{% block content %}
<div class="container">
    <h1>新規登録画面</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}

        <div class="form_title" style="margin: 10px;">
            {{ form.title.label }}</br>
            {% if form.title.errors %}
            <span style="color: #f08080;">{{ form.title.errors[0] }}</span></br>
            {% endif %}
            {% if message != "" %}
            <span style="color: lightcoral;">{{ message }}</span></br>
            {% endif %}
            {{ form.title(style='width: 1000px;') }}
        </div>

        
        <div style="margin: 10px;">
            {{ form.containt.label }}</br>
            {% if form.containt.errors %}
            <span style="color: lightcoral;">{{ form.containt.errors[0] }}</span></br>
            {% endif %}
            {{ form.containt(style='height: 400px; width: 1000px;') }}
        </div>

        <input name="regist" style="margin: 10px;" type="submit" value="新規登録" class="btn btn-primary">
        <input name="back" style="margin: 10px;" type="submit" value="戻る" class="btn btn-primary">
    </form>

    
</div>
{% endblock %}